<header class="header">    
    <div class="container">
        <div class="row align-items-center">
            <h1 class="col logo">
                <a href="{{ '/' | url }}" title="Back to the homepage of the {{ site.subdomain }}">
                    <img class="logo__img" src="{{ site.image | url }}" alt="Sybeja">
                </a>
            </h1>

            <div class="hamburger-icon justify-content-end" id="hamburger-icon">
                <span></span>

                <span></span>

                <span></span>
                
                <span></span>
            </div>

            <div class="nav-overlay col-12 col-md-8 justify-content-end" id="nav-overlay">
                {% include "components/navigation.njk" %}
            </div>
        </div>
    </div>
</header>